.hidden {
    display: none;
}

#gameField{
    width: fit-content;
    height: fit-content;
    padding: 4px;
    background: rgb(133, 86, 42);

    display: grid;
    grid-template-columns: repeat(50,10px);
    grid-template-rows: repeat(50,10px);
    border: 2px solid black;
}

.cell {

    background: hsl(0deg 0% 0%/0%);

}

.snake {
    background:  linear-gradient(to bottom,white,green,darkgreen)
}

.fruit {
    background-color: red;
}