.hidden {
    display: none;
}

#gameField{
    width: fit-content;
    height: fit-content;
    padding: 4px;
    background: url(grass1.jpeg);

    display: grid;
    margin: auto;
}

.cell {

    background: hsl(0deg 0% 0%/0%);

}

.snake {
    background:  linear-gradient(to bottom, pink,white);
    border-radius :  4px;
}

.fruit {
    background: url(apple.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.sign {
   
    font-style: initial;
    text-align: center;
    font-size: large;
    color: black;

    padding: 50px;
    

}

.buttonRestart {
    align-items: center;
}